<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="MasterPageConcept.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    
    <style type="text/css">
        .header, .footer {
            max-height:100px;
            background-color:burlywood;
            font-size:x-large;
            font-family:'Kristen ITC'
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="header">

            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/WebForm1.aspx">Home</asp:HyperLink>
&nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/WebForm2.aspx">About us</asp:HyperLink>
&nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/WebForm3.aspx">Photos</asp:HyperLink>
&nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="~/WebForm4.aspx">Feedback</asp:HyperLink>

        </div>

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

            </asp:ContentPlaceHolder>
        </div>

        <div class="footer">

            <asp:Label ID="Label1" runat="server" Text="Contact us: 1234567890"></asp:Label>

        </div>
    </form>
</body>
</html>
